
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    background: #159957;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h3, a, a:hover, a:visited, #popup{
    color:rgb(255, 255, 255);
    text-decoration: none;
}

#center {
    margin: 0 auto;
    width: 630px;
    padding: 20px;
    margin-top: 15%;
}

#photo {
    position: relative;
    float: left;
    border: 3px solid white;
    border-radius: 3px;
}

.myphoto {
    position: relative;
    clip: rect(auto, auto, auto, auto);
    display: block;
}

#description {
    position: relative;
    padding-top: 50px;
    float: right;
}

#social {
    position: relative;
    top: 20px;
    float: left;
    clear: both;
}

#popup {
    position: relative;
    font-size: 0.8em;
    float: right;
    top: 18px;
}