
body {
    font-family: 'Montserrat', sans-serif;
}

a, a:hover,a:visited {
    color:#000;
    text-decoration: none;
}


#center {
    margin: 0 auto;
    margin-top: 60px;
    width: 630px;
    height: 335px;
    border: 2px solid black;
    padding: 50px;
    padding-top: 30px;
    background-color: #FFFFFF;
}

#left {
    position: relative;
    height: 400px;
    width: 380px;
    float: left;
}

#right {
    position: relative;
    padding-top: 30px;
    top: 0px;
}

.social {
    position: absolute;
    top: 250px;
    width: 700px;
}

.mypic {
    position: absolute;
    clip: rect(25px, auto, auto, auto);
}